* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-size: 20px;
}
#root {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}
.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: red;
}
.todo_checkbox:checked + div {
  text-decoration: line-through;
  color: gray;
}
